/* Los estilos de tu proyecto */
a {
  color: white;
}

h2 {
  color: white;
}

input[placeholder] {
  color: white;
}

li>img {
  padding-bottom: 10%;
}

nav {
  padding: 20px 60px 20px 40px;
}

p {
  color: white;
}

span>img {
  align-content: left;
}

.navbar {
  background-color: white;
}

.navbar-fixed-top{
  padding: 0;
}

.navbarcfg {
  float: left;
}
.row {
  margin: 0;
  padding: 0;
}

.scndsection {
  background-color: #F7B617;
  padding: 0;
}

.scndsection>.row>.col-lg-9>.col-lg-6>img {
  width: 68%;
  margin: 10%;
  margin-left: 15%;
}

.scndsection>.row>.col-lg-9>.col-lg-4>p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10%;
}

.subsection1 {
  padding: 1%;
  padding-top: 5%;
}

.spaceline::after, .spaceline::before {
  border-bottom: 1px solid #000;
  border-color: white;
  bottom: 30%;
  content: "";
  margin: 0 10px;
  position: absolute;
  width: 150px;
}

.spaceline::before {
  left: 30px;
}

.spaceline::after {
  right: 30px;
}

.storeimg {
  padding-top: 20%;
}

.subsection1>p {
  color: white;
  font-size: 16px;
}

.textbox4 {
  padding: 1% 0 15%;
}

.textbox4>p {
  padding: 2% 0 6% 0;
  font-size: 16px;
}

.thirdsection {
  background-image: url("../assets/images/conduce.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  padding: 0;
}

#scdH2 {
  margin-top: 0;
}

#sizing-addon3 {
  background: none;
  border: none;
  padding: 0 10% 15% 0;
}

#input1, #input2 {
  background: none;
  border: solid 1px white;
  border-radius: 5px;
  padding: 5%;
  height: 5vh;
}

#map {
  height: 50vh;
  width: 100%;
}

.boxtext3 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4%;
  height: -webkit-fill-available;
  float: right;
}

.boxtext3>p {
  font-size: 18px;
}

.boxtext3>p>.btn {
  background-color: #F7B617;
  border-color: #F7B617;
  color: white;
  font-size: 18px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
}

.btn2 {
  margin-top: 5%;
}

.btn3 {
  padding: 2% 8%;
  margin-left: 25%;
}

.col-lg-4>h2 {
  padding: 15% 0% 2% 0%;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.col-lg-5>.contfirsts>h2 {
  color: white;
  margin-bottom: 0;
}

.col-lg-9 {
  border: solid 2px white;
  border-left: none;
  padding: 0;
  margin: 3% 3% 3% 0%;
}

.col-lg-12 {
  margin: 0;
}

.contfirsts {
  padding: 3%;
}

.contfirsts>.subsection1>p>img {
  padding: 1% 0% 1% 2%;
  width: 20%;
}

.copyright>.col-lg-12>.glyphicon-copyright-mark {
  color: white;
  width: 100%;
}

.copyright>.col-lg-12>span>p {
  display: inline;
  padding-left: 1%;
}

.fa {
  color: white;
  padding-left: 5%;
}

.firstsection {
  background-image: url("../assets/images/taxi.jpg");
  height: 80vh;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding: 0;
}

.firstsection>.row>.col-lg-5 {
  background-color: #F7B617;
  margin-top: 20vh;
}

.footer {
  background-color: #2B2B2B;
  padding: 10%;
}

/*  Clases para que el placeholder cambie de color de acuerdo a los navegadores*/
.form-control::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
}
.form-control:-moz-placeholder {
  color: white;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  color: white;
  font-size: 14px;
}


.form-control::-ms-input-placeholder {
  color: white;
  font-size: 14px;
}


.fourthsection {
  background-color: #F7B617;
  padding: 0;
}

.logofarea {
  padding: 0% 0 0 0;
  margin: 0;
}

.maparea {
  border: 1px solid white;
  padding: 1%;
  margin-bottom: 10%;
  margin-top: 6%;
}

.mediaarea {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
}

.navbar-fixed-top{
  padding: 0;
}

.navbarcfg {
  float: left;
}
.row {
  margin: 0;
  padding: 0;
}

.scndsection {
  background-color: #F7B617;
  padding: 0;
}

.scndsection>.row>.col-lg-9>.col-lg-6>img {
  width: 68%;
  margin: 10%;
  margin-left: 15%;
}

.scndsection>.row>.col-lg-9>.col-lg-4>p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10%;
}

.subsection1 {
  padding: 1%;
  padding-top: 5%;
}

.spaceline::after, .spaceline::before {
  border-bottom: 1px solid #000;
  border-color: white;
  bottom: 30%;
  content: "";
  margin: 0 10px;
  position: absolute;
  width: 150px;
}

.spaceline::before {
  left: 30px;
}

.spaceline::after {
  right: 30px;
}

.storeimg {
  padding-top: 20%;
}

.subsection1>p {
  color: white;
  font-size: 16px;
}

.textbox4 {
  padding: 1% 0 15%;
}

.textbox4>p {
  padding: 2% 0 6% 0;
  font-size: 16px;
}

.thirdsection {
  background-image: url("../assets/images/conduce.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  padding: 0;
}

/* Mobile */

#imglogomb {
  padding-left: 4%;
  width: 30%;
}

.firstsection > .row> .firstsmob {
  margin-top: 35vh;
  width: 80%;
  margin-left: 20%;
}

#firstsecmed{
  float: right;
  width: 60%;
}

.sec2mb {
  border: 2px solid white;
  margin: 2%;
}

.sec2mb > h2 {
  font-size: 18px;
}
.sec2mb > img {
  padding: 5%;
  width: 100%;
}

/* Footer */

.footer1 {
  background-color: #2B2B2B;
  padding: 4%;
}
.col-sm-12, .col-sm-3{
  margin: 0;
  padding: 0;
}

.col-sm-3 > .nav > li > a{
  margin: 0;
  padding: 4% 0;
}

.media1{
  margin-bottom: 10%;
}
